:root {
  --clr1: rgb(243, 226, 226);
  --clr2: rgb(85, 67, 76);

  --clr1bg: rgb(243, 226, 226);
  --clr1bg-dark: rgb(169, 137, 137);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(247, 185, 219);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 